[Desktop Entry]
Type=Service
Name=Thumbnail Gallery Dock
Comment=Shows a thumbnail gallery from a folder
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=thumbnail_dock
X-Krita-PluginVersion=1
X-Krita-PluginName=thumbnail_dock
X-Krita-PluginDisplayName=Thumbnail Gallery Dock
X-Krita-PluginAuthor=Your Name
X-Krita-PluginLicense=GPL
X-Krita-PluginEnabled=true
